body {
    font-family: 'Alibaba PuHuiTi 2.0';
    font-weight: 500;
}

/* 编辑界面最大宽度设置为自适应 */
#write{
    max-width: 90%;   
}

/* 源码界面最大宽度设置为自适应 */
#typora-source .CodeMirror-lines {
    max-width: 90%;
}

/* Internal Links */
/* hide the anchor HTML */
a:empty + .md-raw-inline {
    display:none;
}
a:empty {
    text-decoration: none;
}
a:empty:before {
    content:"⚓";
}
/* show the anchor HTML when cursor is inside */
.md-expand .md-raw-inline {
    display: inline !important;
}

div[data-is-directory='true']:not([data-path='U:\\MD']) > .file-node-content
{
    color: LightGray !important;
    /* display: none; */
}